<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript for bootstrap 3-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- File specicifed styling start-->
  <link rel="stylesheet" href="../css/pages/login.css">
  <!-- File specicifed styling end-->

  <!-- Componenets Styling start -->
  <link rel="stylesheet" href="../css/components/sitemap.css">
  <link rel="stylesheet" href="../css/components/navbar.css">
  <link rel="stylesheet" href="../css/components/adminNavbar.css">
  <link rel="stylesheet" href="../css/components/header.css">
  <!-- Componenets Styling end -->

  <!-- General Styling start-->
  <link rel="stylesheet" href="../css/general/main.css">
  <link rel="stylesheet" href="../css/general/myFramework.css">
  <!-- General Styling end-->

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">  <!-- Font Awesome 5 -->
  
  <!-- Latest compiled and minified CSS for bootstrap 3-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- side nav js -->
  <script src="../../js/sideNav.js"></script>
  <title> Cart </title>
  <!-- Logo of website -->
  <link rel='icon' href='../images/logo.svg' />

  <title> Register </title>

</head>

<body>

<!-- Header Start -->

<%- include('../include/header'); %>

<!-- Header End -->

  <!--Users Navbar Start-->
  <%- include('../include/navbar'); %>
  <!-- Navbar End-->

  <!--Admin Navbar Start-->
  <%- include('../include/adminNavbar'); %>
  <!--Admin Navbar End-->


  <!-- Path start -->

  <div class="container whiteBlock path">
    <a class="displayInlineBlock pathLink"> Sign Up </a>
  </div>

  <!-- Path end -->
  
  <div class="container loginDiv">
    
    <form action="http://localhost:3050/auth/signup" method="POST">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"> Sign Up </h4>
          </div> <br>

          <div class="modal-body">
            <div class="form-group">
              
              <label >Username:</label><input value="<%= oldInput.username%>" type="text" class="form-control" name="username" id="Username" required>
            </div>
            <div class="form-group">
              <label >Email:</label>  <label style="color: #930000; " ><%= errorMessage%></label> 
              <input value="<%= oldInput.email%>" type="text" class="form-control" name="email" id="Email" required>
            </div>
            <div class="form-group">
              <label >password:</label><input value="<%= oldInput.password%>" type="password" class="form-control" name="password" id="userPassword"  required>
            </div>
 
            <div class="form-group">
              <label >Address:</label><input value="<%= oldInput.address%>" type="text" class="form-control" name="address" id="Address"  required>
            </div>    
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn modelButton" value="Sign Up">
            <label class="col-xs-12 center">
          </div>
        </div>
      </form>
  </div>

      <!-- Footer Start -->
        
      <%- include('../include/footer'); %>
      
      <!-- Footer End -->
</body>

</html>