<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript for bootstrap 3-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- Data Tables Plugin -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">  
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

  <!-- File specicifed styling start-->
  <link rel="stylesheet" href="../css/pages/placedOrders.css">
  <!-- File specicifed styling end-->

  <!-- Componenets Styling start -->
  <link rel="stylesheet" href="../css/components/sitemap.css">
  <link rel="stylesheet" href="../css/components/navbar.css">
  <link rel="stylesheet" href="../css/components/adminNavbar.css">
  <link rel="stylesheet" href="../css/components/header.css">
  <!-- Componenets Styling end -->

  <!-- General Styling start-->
  <link rel="stylesheet" href="../css/general/main.css">
  <link rel="stylesheet" href="../css/general/myFramework.css">
  <!-- General Styling end-->

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">  <!-- Font Awesome 5 -->
  
  <!-- Latest compiled and minified CSS for bootstrap 3-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- side nav js -->
  <script src="../../js/sideNav.js"></script>

  <title>Placed Orders</title>

</head>

<body>
  
  <!--First Headear Start-->
  <%- include('../include/header'); %>
  <!--End First Headear-->

  <!--Users Navbar Start-->
  <%- include('../include/navbar'); %>
  <!-- Navbar End-->

  <!--Admin Navbar Start-->
  <%- include('../include/adminNavbar'); %>
  <!--Admin Navbar End-->



    <div class="container-fluid">
          <!-- Table Block start -->
      <div class="tableDiv">
        <% if (orders.length > 0){ %>
          <table class="table" id="table_id">
            <thead>
            <tr>
              <th class="hideOnSmallScreens">ID</th>
              <th>Date</th>
              <th class="hideOnSmallScreens hideOnMediumScreens">Adress</th>
              <th>Cart</th>
              <th>Price</th>
              <th>Ready</th>
              <th>Shipped</th>
              <th>Arrived</th>
            </tr>
            </thead>
            <tbody>
              <% for(let order of orders){ %>
            <tr>
              <td class="center verticalCenter">
                <%= order._id %>
              </td>
              <td class="center verticalCenter">
                <%= order.date %>
              </td>
              <td class="center verticalCenter">
                <%= order.user.address %>              
              </td>
              <td class="center verticalCenter">
                <% for(let productDoc of order.products){ %>
                  <%= productDoc.product.name %> (<%= productDoc.quantity %>)
                  <br>
                  <% } %>
                </td>
              <td class="center verticalCenter">
                <%= order.orderPrice %>
              </td>
              <!-- Ready -->
              <td class="center verticalCenter">
                <form method="POST" action="http://localhost:3050/admin/orderReady" class="displayInlineBlock">
                  <input type="hidden" name="orderId" value="<%= order._id %>">
                  <% if( order.ready || order.shipped || order.arrived){ %>
                    <button class="ordersButton" name="Ready" disabled> Ready</button>
                    <% } else { %>
                    <button class="ordersButton" name="Ready" > Ready</button>
                    <% } %>

                </form>
              </td>
              <!-- Shipped -->
              <td class="center verticalCenter">
                <form method="POST" action="http://localhost:3050/admin/orderShipped" class="displayInlineBlock">
                  <input type="hidden" name="orderId" value="<%= order._id %>">
                  <% if( order.arrived || order.shipped){ %>
                    <button class="ordersButton" name="Shipped" disabled> Shipped</button>
                  <% } else { %>
                    <button class="ordersButton" name="Arrived" > Shipped</button>
                    <% } %>
                </form>
              </td>

              <!-- Arrived -->
              <td class="center verticalCenter">
                <form method="POST" action="http://localhost:3050/admin/orderArrived" class="displayInlineBlock">
                  <input type="hidden" name="orderId" value="<%= order._id %>">
                  <% if( order.arrived ){ %>
                    <button class="ordersButton" name="Arrived" disabled> Arrived</button>
                  <% } else { %>
                    <button class="ordersButton" name="Arrived" > Arrived</button>
                    <% } %>
                </form>
              </td>
            </tr>
            <% } %>
            </tbody>
          </table>
        <% } else { %>
          <h1 class="center verticalCenter">No Orders Found!</h1>
        <% } %> 
      </div>        
    
    <!-- Table Block end -->

    </div>

  <!--footer Start-->
  <%- include('../include/footer'); %>
  <!-- footer end-->

  <script src="../js/filters.js"></script>
</body>
</html>
