<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript for bootstrap 3-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- File specicifed styling start-->
  <link rel="stylesheet" href="../css/pages/cart.css">
  <!-- File specicifed styling end-->

  <!-- Componenets Styling start -->
  <link rel="stylesheet" href="../css/components/sitemap.css">
  <link rel="stylesheet" href="../css/components/navbar.css">
  <link rel="stylesheet" href="../css/components/adminNavbar.css">
  <link rel="stylesheet" href="../css/components/header.css">
  <!-- Componenets Styling end -->

  <!-- General Styling start-->
  <link rel="stylesheet" href="../css/general/main.css">
  <link rel="stylesheet" href="../css/general/myFramework.css">
  <!-- General Styling end-->

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">  <!-- Font Awesome 5 -->
  
  <!-- Latest compiled and minified CSS for bootstrap 3-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- side nav js -->
  <script src="../../js/sideNav.js"></script>
  <title> Cart </title>

</head>

<body>

  <!--First Headear Start-->
  <%- include('../include/header'); %>
  <!--End First Headear-->

  <!--Users Navbar Start-->
  <%- include('../include/navbar'); %>
  <!-- Navbar End-->

  <!--Admin Navbar Start-->
  <%- include('../include/adminNavbar'); %>
  <!--Admin Navbar End-->

  <!-- Path start -->

  <div class="container whiteBlock path">
    <a class="displayInlineBlock pathLink"> Home </a>
    <span class="displayInlineBlock">
      <i class="fas fa-angle-right"></i>
    </span>
    <a class="displayInlineBlock pathLink"> Cart </a>
  </div>

  <!-- Path end -->
  
  <!-- Cart Start -->
  <div class="container whiteBlock">
    <div class="col-xs-12 col-md-4 floatRight totalCostBox">
      <div class="centerInSmallScreen">
        <p id="totalPriceText">
          Total Price
        </p>
        <p id="totalPrice">
          EG <%= totalPrice %>
        </p>
        <form method="POST" action="<% if (!authentication)  { %> http://localhost:3050/auth/login <% } else { %> http://localhost:3050/shop/order <% } %>" class="displayInlineBlock">
          <button type="submit" class="continueBtn">
            CONTINUE
          </button>
        </form>
  
        <a href="http://localhost:3050/shop/home" class="backHome">
          Back to Home
        </a>
      </div>
    </div>
    <% if (products.length > 0){ %>
        <% for(let product of products){ %>
      <div class="col-xs-12 col-md-8 cartItem">
          <!-- Product Image -->
            <div class="col-xs-3" class="productImg">
                <a href="http://localhost:3050/shop/ProductDetails/<%= product.productId._id %>">
                    <img src="<%= product.productId.image %>" alt="cart image" class="img-responsive" style="height:210px;">
                </a>
            </div>

            <!-- Product Description and buttons -->
            <div class="col-xs-8" class="productData">
                <div class="col-xs-12 col-sm-8 zeroPadding">
                    <!-- Product Name -->
                    <div class="col-xs-12">
                        <p class="cartItemName floatLeft">
                            <%= product.productId.name %>
                        </p>
                    </div>
                    <!-- Product Description -->
                    <div class="col-xs-12">
                        <p class="cartItemDescription floatLeft">
                            <%= product.productId.description %>
                        </p>
                    </div>
                    <!-- Product Price -->
                    <div class="col-xs-12">
                        <p class="productPrice floatLeft">
                            EG <%= product.productId.currentprice %>                        
                          </p>
                        </div>
                      </div>
                      <!-- Buttons -->
                      <div class="col-xs-12 col-sm-4">
                    <div class="row qtyRow floatLeft">
                      <form method="POST" action="http://localhost:3050/shop/decreaseCartItem" class="displayInlineBlock">
                        <input type="hidden" name="id" value="<%= product.productId._id %>">
                        <button type="submit" class="increaseAmount displayInlineBlock">
                          <span class="positionCenter">
                            <i class="fas fa-minus"></i>
                          </span>
                        </button>
                      </form>
                      
                      <div class="qty displayInlineBlock">
                         <%= product.quantity %>
                      </div>
                        <form method="POST" action="http://localhost:3050/shop/cart" class="displayInlineBlock">
                          <input type="hidden" name="id" value="<%= product.productId._id %>">
                          <button type="submit" class="increaseAmount displayInlineBlock">
                            <span class="positionCenter">
                              <i class="fas fa-plus"></i>
                            </span>
                          </button>
                        </form>
                      </div>
                    </div>
            </div>
            <!-- The Remove Button  -->
            <form method="POST" action="http://localhost:3050/shop/deleteCartItem" class="displayInlineBlock">
              <div class="col-xs-1 col-md-1">
                <div class="removeBtn">
                  <input type="hidden" name="id" value="<%= product.productId._id %>">
                  <button class="btn btn-default">
                      <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </div>
            </form>
      </div>
        <% } %>
      <% } else { %>
        <h1>No Products Found!</h1>
      <% } %> 


  </div>

  <!-- Cart End -->

         <!-- Footer Start -->
        
         <%- include('../include/footer'); %>
      
         <!-- Footer End -->
  <script src="../js/cart.js"></script>
</body>

</html>