<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript for bootstrap 3-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- File specicifed styling start-->
  <link rel="stylesheet" href="../css/pages/wishlist.css">
  <!-- File specicifed styling end-->

  <!-- Componenets Styling start -->
  <link rel="stylesheet" href="../css/components/sitemap.css">
  <link rel="stylesheet" href="../css/components/navbar.css">
  <link rel="stylesheet" href="../css/components/adminNavbar.css">
  <link rel="stylesheet" href="../css/components/header.css">
  <!-- Componenets Styling end -->

  <!-- General Styling start-->
  <link rel="stylesheet" href="../css/general/main.css">
  <link rel="stylesheet" href="../css/general/myFramework.css">
  <!-- General Styling end-->

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">  <!-- Font Awesome 5 -->
  
  <!-- Latest compiled and minified CSS for bootstrap 3-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- side nav js -->
  <script src="../../js/sideNav.js"></script>
  <title> Wishlist </title>

</head>

<body>

  <!--First Headear Start-->
  <%- include('../include/header'); %>
  <!--End First Headear-->

  <!--Users Navbar Start-->
  <%- include('../include/navbar'); %>
  <!-- Navbar End-->

  <!--Admin Navbar Start-->
  <%- include('../include/adminNavbar'); %>
  <!--Admin Navbar End-->

  <!-- Path start -->

  <div class="container whiteBlock path">
    <a class="displayInlineBlock pathLink"> Home </a>
    <span class="displayInlineBlock">
      <i class="fas fa-angle-right"></i>
    </span>
    <a class="displayInlineBlock pathLink"> WishList </a>
  </div>

  <!-- Path end -->
  
  <!-- Cart Start -->

  <div class="container whiteBlock">
    <% if (products.length > 0){ %>
        <% for(let product of products){ %>

      <div class="col-xs-10 col-xs-offset-1 cartItem">
          <!-- Product Image -->
            <div class="col-xs-3" class="productImg">
                <a href="http://localhost:3050/shop/ProductDetails/<%= product.productId._id %>">
                    <img src="<%= product.productId.image %>" alt="wishlist image" class="img-responsive" style="height:210px;">
                </a>
            </div>

            <!-- Product Description and buttons -->
            <div class="col-xs-9" class="productData">
                <div class="col-xs-12 col-md-7 zeroPadding">
                    <!-- Product Description -->
                    <div class="col-xs-12">
                        <p class="cartItemDescription floatLeft">
                            <%= product.productId.name %>
                        </p>
                    </div>
                    <!-- Product Price -->
                    <div class="col-xs-12">
                        <p class="peoductPrice floatLeft">
                            EG <%= product.productId.currentprice %>                        
                        </p>
                    </div>
                </div>
                <!-- Buttons -->
                <div class="col-xs-12 col-md-5">
                    <div class="row actionBtn floatLeft displayInlineBlock">
                        <form method="POST" action="http://localhost:3050/shop/cart" class="displayInlineBlock">
                            <input type="hidden" name="id" value="<%= product.productId._id %>">
                            <button type="submit" class="btn btn-primary">
                                Add to Cart
                            </button>
                        </form>

                        <form method="POST" action="http://localhost:3050/shop/deleteWishlistItem" class="displayInlineBlock">
                            <input type="hidden" name="id" value="<%= product.productId._id %>">
                            <button type="submit" class="btn btn-danger">
                                Remove
                            </button>
                        </form>
                        
                      </div>

                </div>
            </div>
      </div>
      <% } %>
      <% } else { %>
        <h1>No Products Found!</h1>
      <% } %> 
  </div>

  <!-- Cart End -->

         <!-- Footer Start -->
        
         <%- include('../include/footer'); %>
      
         <!-- Footer End -->
  <script src="../js/cart.js"></script>
</body>

</html>